作業目標:<br>
1. 敘述統計量計算<br>
2. 運用自定義函數apply

作業重點:<br>
1. 了解敘述統計量並解釋<br>
2. 運用apply時須注意自定義函數寫法

題目<br>
對以下成績資料做分析<br>
1. 6號學生(student_id=6)3科平均分數為何?<br>
2. 6號學生3科平均分數是否有贏過班上一半的同學?<br>
3. 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?<br>
4. 承上題，加分後各科班平均變多少?
<br>
score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])

In [2]:
import pandas as pd
score_df = pd.DataFrame([
    [1,56,66,70], 
    [2,90,45,34],
    [3,45,32,55],
    [4,70,77,89],
    [5,56,80,70],
    [6,60,54,55],
    [7,45,70,79],
    [8,34,77,76],
    [9,25,87,60],
    [10,88,40,43]],
    columns=['student_id','math_score','english_score','chinese_score']
)
score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

### 1. 6號學生(student_id=6)3科平均分數為何?

In [8]:
score_df.mean(axis=1)   # Ans: 56.33

student_id
1     64.000000
2     56.333333
3     44.000000
4     78.666667
5     68.666667
6     56.333333
7     64.666667
8     62.333333
9     57.333333
10    57.000000
dtype: float64

### 2. 6號學生3科平均分數是否有贏過班上一半的同學

In [15]:
score_df.mean(axis=1).median() < 56.33

False

### 3. 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?

In [18]:
score_df = score_df.apply(lambda x: (x**0.5)*10)
score_df   # 6	77.459667	73.484692	74.161985

            math_score  english_score  chinese_score
student_id
1            74.833148      81.240384      83.666003
2            94.868330      67.082039      58.309519
3            67.082039      56.568542      74.161985
4            83.666003      87.749644      94.339811
5            74.833148      89.442719      83.666003
6            77.459667      73.484692      74.161985
7            67.082039      83.666003      88.881944
8            58.309519      87.749644      87.177979
9            50.000000      93.273791      77.459667
10           93.808315      63.245553      65.574385

### 4. 承上題，加分後各科班平均變多少

In [19]:
score_df.mean()

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64