# 範例
***

# [教學目標]

* 知道 DataFrame 中迴圈的運作規則
* 了解 DataFrame 中 Map、 Apply、Applymap 差異
* 知道不建議在 DataFrame 進行迭代操作的原因

In [1]:
# 載入 NumPy, Pandas 套件
import numpy as np
import pandas as pd

# 檢查正確載入與版本
print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

<module 'numpy' from '/Users/wei/.virtualenvs/py3/lib/python3.6/site-packages/numpy/__init__.py'>
1.16.1
<module 'pandas' from '/Users/wei/.virtualenvs/py3/lib/python3.6/site-packages/pandas/__init__.py'>
0.23.1

In [2]:
# DataFrame 當中的 For Loop

import pandas as pd

df = pd.DataFrame({
  'name': ['Alice', 'Bob'],
  'age': [20, 32]
})

for c in df:
  print(c)

name
age

In [3]:
# 橫向的資料迭代

import pandas as pd

df = pd.DataFrame({
  'name': ['Alice', 'Bob'],
  'age': [20, 32]
})

for i in range(len(df)):
  print(df.iloc[i])

name    Alice
age        20
Name: 0, dtype: object
name    Bob
age      32
Name: 1, dtype: object

In [4]:
# iteritems()、iterrows()、itertuples()

for d in df.iteritems():
  print(d)

for d in df.iterrows():
  print(d)

for d in df.itertuples():
  print(d)

('name', 0    Alice
1      Bob
Name: name, dtype: object)
('age', 0    20
1    32
Name: age, dtype: int64)
(0, name    Alice
age        20
Name: 0, dtype: object)
(1, name    Bob
age      32
Name: 1, dtype: object)
Pandas(Index=0, name='Alice', age=20)
Pandas(Index=1, name='Bob', age=32)

In [7]:
# apply

import numpy as np
import pandas as pd

df = pd.DataFrame({
  'score': [98, 67, 85],
  'age': [20, 32, 28]
})

df.apply(np.max)
# score    98
# age      32
# dtype: int64

df.apply(np.min)
# score    67
# age      20
# dtype: int64

df.apply(lambda x: x.max() - x.min())
# score    31
# age      12
# dtype: int64

score    31
age      12
dtype: int64

In [8]:
# map

import numpy as np
import pandas as pd

df = pd.DataFrame({
  'score': [98, 67, 85],
  'age': [20, 32, 28]
})

df['age'].map(lambda x: -x)

0   -20
1   -32
2   -28
Name: age, dtype: int64

In [9]:
# applymap

import numpy as np
import pandas as pd

df = pd.DataFrame({
  'score': [98, 67, 85],
  'age': [20, 32, 28]
})

df.applymap(lambda x: -x)

   score  age
0    -98  -20
1    -67  -32
2    -85  -28

In [10]:
# 補充：lambda 匿名函式

df.apply(lambda x: x.max() - x.min())
# score    31
# age      12
# dtype: int64

score    31
age      12
dtype: int64

In [11]:
def f(x):
  return x.max() - x.min()
print(df.apply(f))
# score    31
# age      12
# dtype: int64

score    31
age      12
dtype: int64