# [作業目標]

1. 根據給定的 DataFrame 中取出索引為 3, 4, 8 的 animal 和 age 欄位。
2. 請將 dataFrame 所有字串都變成是大寫開頭。

# 作業

In [1]:
# 記得先 Import 正確的套件


import pandas as pd
import numpy as np

### 1. 根據給定的 DataFrame 中取出索引為 3, 4, 8 的 animal 和 age 欄位。

In [2]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [6]:
df.iloc[[3, 4, 8]][['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

### 2. 請將 dataFrame 所有字串都變成是大寫開頭。

In [7]:
df = pd.DataFrame([
    ['tom', 'mark', 'mary'],
    ['bob', 'alice', 'john']
])
df

     0      1     2
0  tom   mark  mary
1  bob  alice  john

In [11]:
df.applymap(lambda x: x.capitalize())

     0      1     2
0  Tom   Mark  Mary
1  Bob  Alice  John

In [ ]:
df.apply(lambda x: x.capitalize())
# AttributeError: 'Series' object has no attribute 'capitalize'